<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Editar Usuario</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-section">
                {{ form.as_p }}
            </div>
            <button type="submit">Actualizar</button>
        </form>
    </div>
</body>
</html>

